.timer{
    font-size: 4vw;
}

.qnaList{
    text-align: center;
}

#finishbtn:active{
    background-color:#999999;
}

#finishbtn{
    background-color: white;
}

.container{
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}