.timer{
    font-size: 4vw;
}

.questionNav{
    text-align: center;
}

#finishbtn{
    background-color: #104983;
    color: white;
    &:hover{
        background-color: #1b62a8;
    }
}

.container{
    background-color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#navQuestion{
    width: 3.75vw;
    height: 3.75vw;
}

.btn-basic{
    background-color: #e2f0ff88;
}

#questionNavCont{
    // background-color: #e2f0ff88;
}