<div class="container p-2">
  <div class="row timer align-items-center justify-content-center">
    <app-timer></app-timer>
  </div>
  <div class="row align-items-center justify-content-center">
    <div *ngFor="let i of soal; let x = index" class="col-1 col-md-3 m-2 qnaList">
      <!-- <div *ngIf="x%2 === 0" class="w-100 d-none d-sm-block mt-4">
      </div> -->
      <button type="button" [class]="ans[x] == null ? 'btn btn-basic' : 'btn btn-success'"> {{ i.id }} </button>
    </div>
  </div>
</div>