$black1: #302e2e;
$black2: #242424;
$black3: #1f1f1f;
$black4: #0f0e0e;

nav{
    color: white;
    text-align: right;
    background-color: #135ba4;
}

button{
    background-color: transparent;
    border: none;
    // height: 100%;
    margin: 0;
    border-radius: 1.5px;
    color: white;
    &:hover, &:focus{
        background-color: #104983;
        color: white;
    }
}

.dropdown-menu{
    cursor: pointer;
    &:hover{
        background-color: #eeeeee;
    }
}