$black1: #302e2e;
$black2: #242424;
$black3: #1f1f1f;
$black4: #0f0e0e;

.navbar{
    color: white;
    text-align: right;
    background-color: #135ba4;
}

button{
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 1%;
    margin: 0;
}

.data-user{
    height: 100%;
    color: white;
    padding: 1%;
}