<nav class="navbar navbar-dark container-fluid align-items-center justify-content-end">
  <div class="btn-group">
      <button type="button" class=" dropdown-toggle px-2 far fa-user btn-secondary " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nama Nim
      </button>
      <div class="dropdown-menu">
        <button type="button" class="btn btn-outline-light fas fa-bars" (click)="logout()"></button>
      </div>
    </div>
    
  <div class="px-2 far fa-clock">
    <app-timer></app-timer>
  </div>
<!-- 
    <button type="button" class="btn btn-dark fas fa-bars" (click)="logout()"></button> -->
    <button type="button" class="btn btn-outline-light  fas fa-bars" (click)="sidebarClicked()"></button>
</nav>