$black1: #302e2e;
$black2: #242424;
$black3: #1f1f1f;
$black4: #0f0e0e;

body{
    font-family: 'Courier New', Courier, monospace;
}

.question{
    background: #f7f7f7;
    font-size: 1.5vw;
}

ol{
    list-style-type: lower-alpha;
}

.carousel-control-prev,.carousel-control-next{
    width: 2vw;
}