<div class="container-fluid p-0 m-0" id="quizPage">
  <!-----------HEADER----------->
  <app-header (showSidebarChange)="changeSidebar($event)"></app-header>
  <!--------END OF HEADER------->

  <img src="assets/image/footer3.svg" class="img-fluid img-thumbnail" alt="hai" id="img-back">

  <div class="row p-0 m-0">
    <div class="col p-0">

      <!----------TITLE--------->
      <div class= "col-12 title justify-content-between p-5 mb-2">          
        <div class="row p-0 m-0">
          <h1 class="col m-0">Try Out UMN 2019 </h1> 
          <div class="col text-right far fa-clock mr-3">
              <app-timer [ans]="ans" [ansidx]="ansidx"></app-timer>
          </div>
        </div>
      </div>
      <!------END OF TITLE----->
      
      <!------QUESTION CONTAINER----->
      <div class="container mb-5">
        <div id="carousel" class="carousel slide" data-ride="carousel"  data-interval="false" *ngIf="soal" data-wrap="false">
          <div class="carousel-inner d-block w-100">

            <!---------LOOP SOAL------- -->
            <div 
              *ngFor="let n of soal; let idx= index; first as isFirst; last as isLast" 
              [class]="isFirst ? 'carousel-item active' : 'carousel-item'" 
              id="carouselitem{{idx}}"
            >
              <div class="container questContainer text-justify p-5" >
                <div class=" questionSection row">
                  <div class="no col-1 align-items-center text-center p-0 m-0">{{ idx+1 }}.</div>
                  <div class="col-10 p-0 m-0">
                    <div class="question row mb-4">{{ n.question }}</div>
                    <div class="choices row px-1 px-md-2">

                      <!---------LOOP PILIHAN--------->
                      <div *ngFor="let i of n.choices; let idxChoice= index" class="col-md-12 choice p-2 mb-2 ml-2">
                        <p class="m-0">
                          <input 
                            type="radio" 
                            name="{{ idx }}+'ans'" 
                            id="option" autocomplete="off" 
                            (click)="addAns(idx, idxChoice, i.value)
                          "> {{ i.option }}
                        </p>
                      </div>
                  <!------END OF LOOP PILIHAN------>

                    </div>
                    <div *ngIf="isLast" class="row p-0 m-0 mt-3 justify-content-end">
                      <button class="btn" id="finishbtn" style="text-align: center" (click)="finishExam()">
                        FINISH EXAM
                      </button>
                    </div>
                  </div>
              <!---------END OF LOOP SOAL------- -->
            
                </div>
                <a *ngIf ="!isFirst" class="carousel-control-prev ml-2" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon fas fa-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a *ngIf ="!isLast" class="carousel-control-next mr-2" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon fas fa-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------QUESTION CONTAINER----->
      <div class="col-12 m-0 p-0">
        <!-- ​<picture> -->
          <!-- <img src="assets/image/footer3.svg" class="img-fluid img-thumbnail" alt="hai" id="img-bottom"> -->
        <!-- </picture> -->
      </div>
    </div>

    <!---------SIDE BAR------- -->
    <div *ngIf="showSidebar" class="col-md-2 col-3 p-0" id="sideBar">
      <app-side-bar [ans]="ans" [ansidx]="ansidx"></app-side-bar>
    </div>
    <!------END OFSIDE BAR------>

  </div>
</div>
