body{
    font-family: 'Courier New', Courier, monospace;
}

button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

<<<<<<< Updated upstream
.question{
    background: #f7f7f7;
}

ol{
    list-style-type: lower-alpha;
=======
#particles-js{
    background: #050230;
    position: absolute;
    height: 100vh;
>>>>>>> Stashed changes
}