$black1: #302e2e;
$black2: #242424;
$black3: #1f1f1f;
$black4: #0f0e0e;
$grey: #f1f4f5;
*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

.questContainer{
    background: #f7f7f7;
    font-size: 2.5vh;
}

.carousel-control-prev,.carousel-control-next{
    width: 2vw;
}

#quizPage{
    min-height: 97.5vh;
}

.choice{
    background-color: #eeeeee;
}

.fas{
    color: black;
}

.title{
    font-size: 5vh;
    color: white;
}