$darkerblue: #536dfe;
$darkerdarkblue: #4b62e5;
$blue: #4285f4;
$superlightblue: #ebf2fd;
$lightblue: #dae9ff;
$darkergreen: #53fe9a;
$darkerdarkblue: #4be58b;
$blue: #42f486;
$superlightblue: #ecfdeb;
$lightblue: #dae9ff;

body{
    font-family: 'Courier New', Courier, monospace;
}

#form{
    background: #ffff;
    border-radius: 1.5vw;
}

form{
    text-align: left;
    .btn{
        width: 100%;
    }
}

#particles-js{
    background: #000000;
    position: absolute;
    height: 100vh;
}

.row{
    height: 100vh;
}