<div id="particles-js" class="container-fluid">
</div>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div id="form" class="col-3 p-4">
      <h1>Try Out SMA</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
          </p>
        
          <div *ngIf="isSubmitted && formControls.username.errors">
            <div *ngIf="formControls.username.errors.required" style="color: red">Username is required</div>
          </div>  
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          <!-- show or hide pake parameter -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </p>
      
          <div *ngIf="isSubmitted && formControls.password.errors">
            <div *ngIf="formControls.password.errors.required" style="color: red">Password is required</div>
          </div>
          
        </div>
        <input class="btn btn-primary mb-1" type="submit" value="Login">
        <input class="btn btn-secondary" type="button" value="Sign Up">
        <!-- <button type="submit" class="btn btn-primary mb-1">Login</button>
        <button type="submit" class="btn btn-primary">Sign up</button> -->
      </form>
    </div>
  </div>
