$blue5: #536dfe;
$blue6: #3d56e0;
$blue4: #4285f4;
$blue2: #9dc2ff;
$blue1: #ebf2fd;
$blue3: #5197ff;

body{
    font-family: 'Courier New', Courier, monospace;
}

#form{
    background: #ffff;
    border-radius: 1.5vw;
}

form{
    text-align: left;
    .btn{
        width: 100%;
    }
}

#particles-js{
    background: #000000;
    position: absolute;
    height: 100vh;
}

.row{
    height: 100vh;
}

.btn{
    border-radius: 0.5vw;
}

.btn-primary{
    background-color: $blue5;
    &:hover{
        background-color: $blue6;
    }
}

.btn-secondary{
    background-color: $blue3;
    border: none;
    &:hover{
        background-color: $blue4;
    }
}