<!-- Pengguanan particle dalam tampilan dasar login -->
<div id="particles-js" class="container-fluid"></div>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div id="form" class="col-6 col-md-4 p-4">
      <h1 class="text-center">Try Out UMN 2019</h1>
      <!-- <p class="text-justify">Try out ini diadakan untuk menguji kompetensi sekaligus melatih pelajar untuk menghadapi UNBK (Ujian Nasional Berbasis Komputer) tahun 2019</p>
      <hr> -->
      <form [formGroup]="loginForm" class="p-2 mt-4" (ngSubmit)="login()">
        <!-- Untuk penginputan username -->
        <div class="form-group">
          <label for="username" class="mb-1">Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Enter Username"
              [ngClass]="{ 'is-invalid': isSubmitted && formControls.username.errors }"/>
            <div *ngIf="isSubmitted && formControls.username.errors" class="invalid-feedback is-invalid">
              <div *ngIf="formControls.username.errors.required">Username is required</div>
          </div>

        </div>

        <!-- Untuk penginputan password -->
        <div class="form-group">
          <label for="exampleInputPassword1" class="mb-1">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Enter Password"
              [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }"/>
            <div *ngIf="isSubmitted && formControls.password.errors" class="invalid-feedback is-invalid">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
          </div>
          
        </div>

        <!-- Apabila username atau password tidak cocok / terdaftar -->
        <div *ngIf="error" class="alert alert-danger">Username or Password is incorrect</div>

        <input class="btn btn-primary mb-1" type="submit" value="Login">
        <a [routerLink]="['/signup']" class="btn btn-secondary">Sign Up</a>
      </form>
      
    </div>
  </div>
</div>
