<div id="particles-js" class="container-fluid">
</div>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div id="form" class="col-3 p-4">
      <h1>Try Out SMA</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          <!-- show or hide pake parameter -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <input class="btn btn-primary mb-1" type="submit" value="Login">
        <input class="btn btn-secondary" type="button" value="Sign Up">
        <!-- <button type="submit" class="btn btn-primary mb-1">Login</button>
        <button type="submit" class="btn btn-primary">Sign up</button> -->
      </form>
    </div>
  </div>
