$blue5: #536dfe;
$blue6: #3d56e0;

h1{
    font-size: 3vw;
}

#img-result{
    border: none;
    // width: 50vw;
}

.finish-btn {
    background-color: $blue5;
    color: white;
    font-size: 1.5vw;
    &:hover{
        background-color: $blue6;
    }
}